/* Navbar */

.container-fluid{
  padding: 30px 40px 10px 40px ;
}

.top_class{
  color: white;
  background-color: #CFD2CF;
}




/* Navigation bar */

.navbar {
  padding:0 0 1rem ;

}

/* .navbar-brand{
  font-family: "Ubuntu";
  font-weight: bold;
  font-size: 2.5rem ;
} */



.nav-item{
  padding: 0 18px ;
}


.top_head{
  font-weight: bold;
  font-size: large;
}

.navbar-brand{
  width: 450px;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Comfortaa', cursive;

}
.eagle-img{

}

.nav-link{
  color: white;
  font-family: 'Comfortaa', cursive;
}





/* .offer-img{
  width: 30%;
  position: absolute;
  text-align: center;
} */


.par{
  padding-top: 45px;
  padding-right: 45px;
  text-align: right;
  font-size: 4rem;
  position: absolute;
  left: 50px;
  right: 50px;
  top: 130px;
  font-weight:bold;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  text-shadow: 2px 2px 4px #000000;
  line-height: 2;

}


.hotel-img{
    width: 1350px;

}

.download-button-1{
  position: absolute;
  top: 500px;
  left: 900px;

}

.download-button-2{
  position: absolute;
  top: 500px;
  left: 1090px;

}

.mid1{
  margin-top: 30px;
}
/* .btn-light{
  background-color: #DEBA9D;
  color: #A64B2A;
  border: #D7A86E;

} */





<!-- HTML !-->
<button class="button-29" role="button">Button 29</button>

/* CSS */
.btn-light {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.btn-light:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.btn-light:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.btn-light:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}
